In [45]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from scipy.stats import gmean
import pandas as pd
import numpy as np
from scipy.stats import gmean
import os

# The code is written with the help of OpenAI's Chatgpt.com.

In [46]:
# Set path and file names
folder_path = './data/'
file_list = [
    'spx_totret_1995_monthly.xlsx',
    'UST30Y_totret_1995_monthly.xlsx',    
    'HY_totret_1995_monthly.xlsx',    
    'gsci_totret_1995_monthly.xlsx',
]

sheet_name = 'Worksheet'
col_name = 'TOT_RETURN_INDEX_GROSS_DVDS'
start_date = pd.to_datetime('2010-01-01')

# Initialize container for all standardized returns
standardized_df = pd.DataFrame()

# Loop over files
for file in file_list:
    filepath = os.path.join(folder_path, file)
    
    # Extract asset name from filename
    asset_name = file.split('_')[0].upper()  # 'spx_totret_1995_monthly.xlsx' â†’ 'SPX'

    # Load and clean data
    df = pd.read_excel(filepath, sheet_name=sheet_name)
    df = df.rename(columns={col_name: 'Total_Return_Index'}).dropna()
    df = df[df['Date'] >= start_date].copy()
    df = df.set_index('Date')

    # Compute monthly returns
    df['Return'] = df['Total_Return_Index'].pct_change()
    df = df.dropna()

    # Compute mean and volatility
    monthly_returns = df['Return']
    mean_return = gmean(1 + monthly_returns) - 1
    vol_return = monthly_returns.std()

    # Standardize return
    df[f'{asset_name}_Standardized'] = (monthly_returns - mean_return) / vol_return

    # Add to master DataFrame
    standardized_df = pd.concat([standardized_df, df[[f'{asset_name}_Standardized']]], axis=1).dropna()

# Reset index to have 'Date' as column
standardized_df = standardized_df.reset_index()
display(standardized_df.head())
display(standardized_df.tail())

,Date,SPX_Standardized,UST30Y_Standardized,HY_Standardized,GSCI_Standardized
0,2010-02-26,0.484704,-0.170832,-0.163933,1.069832
1,2010-03-31,1.184608,-0.530763,1.277132,0.397559
2,2010-04-30,0.122757,0.751679,0.892005,0.613177
3,2010-05-31,-2.156208,1.379049,-1.998006,-1.902870
4,2010-06-30,-1.500856,1.276440,0.357045,0.226211

,Date,SPX_Standardized,UST30Y_Standardized,HY_Standardized,GSCI_Standardized
177,2024-11-29,1.145374,0.411316,0.311112,0.033021
178,2024-12-31,-0.821469,-1.450095,-0.456465,0.423074
179,2025-01-31,0.410162,-0.016282,0.416141,0.361181
180,2025-02-28,-0.564339,1.250348,0.077880,-0.263806
181,2025-03-31,-1.596070,-0.366401,-0.746498,0.426099