In [65]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from scipy.stats import gmean
import pandas as pd
import numpy as np
from scipy.stats import gmean
import os
import statsmodels.api as sm
from pandas.tseries.offsets import MonthEnd

# The code is written with the help of OpenAI's Chatgpt.com.

# Data Prep

In [66]:
# Set path and file names
folder_path = './data/'
file_list = [
    'spx_totret_1995_monthly.xlsx',         # US Equities
    'UST30Y_totret_1995_monthly.xlsx',   # US Government Bond
    'HY_totret_1995_monthly.xlsx',    # US HY Corporate Bonds
    'gsci_totret_1995_monthly.xlsx', # Global Commodities
    'EURHY_data.xlsx', # EUR Corporate Bonds
    'EUREQ_data.xlsx', # EUR Equities
    'FXY_data.xlsx', # USDJPY ETF Total Return
     'Gold_data.xlsx', # Gold

]

sheet_name = 'Worksheet'
col_name = 'TOT_RETURN_INDEX_GROSS_DVDS'
start_date = pd.to_datetime('2010-01-01')

# Initialize container for all standardized returns
standardized_df = pd.DataFrame()

# Loop over files
for file in file_list:
    filepath = os.path.join(folder_path, file)
    
    # Extract asset name from filename
    asset_name = file.split('_')[0].upper()  # 'spx_totret_1995_monthly.xlsx' → 'SPX'

    # Load and clean data
    df = pd.read_excel(filepath, sheet_name=sheet_name)
    df = df.rename(columns={col_name: 'Total_Return_Index'}).dropna()
    df = df[df['Date'] >= start_date].copy()
    df = df.set_index('Date')

    # Compute monthly returns
    df['Return'] = df['Total_Return_Index'].pct_change()
    df = df.dropna()

    # Compute mean and volatility
    monthly_returns = df['Return']
    mean_return = gmean(1 + monthly_returns) - 1
    vol_return = monthly_returns.std()

    # Standardize return
    df[f'{asset_name}_Standardized'] = (monthly_returns - mean_return) / vol_return

    # Add to master DataFrame
    standardized_df = pd.concat([standardized_df, df[[f'{asset_name}_Standardized']]], axis=1).dropna()

# Reset index to have 'Date' as column
standardized_df = standardized_df.reset_index()
standardized_df_1 = standardized_df
display(standardized_df_1.head())
display(standardized_df_1.tail())

,Date,SPX_Standardized,UST30Y_Standardized,HY_Standardized,GSCI_Standardized,EURHY_Standardized,EUREQ_Standardized,FXY_Standardized,GOLD_Standardized
0,2010-03-31,1.184608,-0.530763,1.277132,0.397559,-0.397344,1.062714,-1.739296,-1.106774
1,2010-04-30,0.122757,0.751679,0.892005,0.613177,2.199185,2.424337,-0.066530,-0.530417
2,2010-06-30,-1.500856,1.276440,0.357045,0.226211,-1.672478,-1.920082,1.157514,1.318014
3,2010-08-31,-1.329079,1.959475,-0.231386,-0.836337,-1.159306,-1.795480,1.144543,-0.884953
4,2010-09-30,1.873141,-0.658468,1.217676,1.565948,-0.644847,-0.866383,0.338207,-0.661408

,Date,SPX_Standardized,UST30Y_Standardized,HY_Standardized,GSCI_Standardized,EURHY_Standardized,EUREQ_Standardized,FXY_Standardized,GOLD_Standardized
124,2024-10-31,-0.469507,-1.289861,-0.512055,0.027249,-0.027333,0.617184,-1.902411,0.843801
125,2024-12-31,-0.821469,-1.450095,-0.456465,0.423074,-0.062569,-1.291312,-1.730543,-1.284009
126,2025-01-31,0.410162,-0.016282,0.416141,0.361181,-0.252903,-0.443162,0.640791,-0.269920
127,2025-02-28,-0.564339,1.250348,0.077880,-0.263806,0.643485,0.082555,1.252147,-1.789744
128,2025-03-31,-1.596070,-0.366401,-0.746498,0.426099,0.074357,-0.547447,0.215081,-1.015440

In [67]:
# Set path and file names
folder_path = './data/'
file_list = [
    'EEM_monthly_prices.xlsx', # Emerging Market Equities
    'VNQ_monthly_prices.xlsx', # US Real estate ETF
    'IGF_monthly_prices.xlsx', # Global Infrastructure ETF
     'unemp_data.xlsx', # US Unemployment
     'CPI_data.xlsx', # US Inflation (CPI)
]

sheet_name = 'Worksheet'
col_name = 'TOT_RETURN_INDEX_GROSS_DVDS'
start_date = pd.to_datetime('2010-01-01')

# Initialize container for all standardized returns
standardized_df = pd.DataFrame()

# Loop over files
for file in file_list:
    filepath = os.path.join(folder_path, file)
    
    # Extract asset name from filename
    asset_name = file.split('_')[0].upper()  # 'spx_totret_1995_monthly.xlsx' → 'SPX'

    # Load and clean data
    df = pd.read_excel(filepath, sheet_name=sheet_name)
    df = df.rename(columns={col_name: 'Total_Return_Index'}).dropna()
    df = df[df['Date'] >= start_date].copy()
    df = df.set_index('Date')

    # Compute monthly returns
    df['Return'] = df['Total_Return_Index'].pct_change()
    df = df.dropna()

    # Compute mean and volatility
    monthly_returns = df['Return']
    mean_return = gmean(1 + monthly_returns) - 1
    vol_return = monthly_returns.std()

    # Standardize return
    df[f'{asset_name}_Standardized'] = (monthly_returns - mean_return) / vol_return

    # Add to master DataFrame
    standardized_df = pd.concat([standardized_df, df[[f'{asset_name}_Standardized']]], axis=1).dropna()

# Reset index to have 'Date' as column
standardized_df_2 = standardized_df.reset_index()
standardized_df_2['Date'] = standardized_df_2['Date'] + MonthEnd()
display(standardized_df_2.head())
display(standardized_df_2.tail())

,Date,EEM_Standardized,VNQ_Standardized,IGF_Standardized,UNEMP_Standardized,CPI_Standardized
0,2010-04-30,-0.074012,1.400736,-0.424852,0.025688,-0.714625
1,2010-05-31,-1.829766,-1.150317,-2.500427,-0.142828,-0.998445
2,2010-06-30,-0.431933,-1.297221,-0.806843,-0.090167,-0.960223
3,2010-07-31,2.177581,1.914237,2.759368,0.025688,-0.094147
4,2010-08-31,-0.658261,-0.371159,-0.551676,0.084849,-0.248542

,Date,EEM_Standardized,VNQ_Standardized,IGF_Standardized,UNEMP_Standardized,CPI_Standardized
176,2024-12-31,-0.675763,-1.901995,-1.503414,-0.106718,0.578661
177,2025-01-31,0.695247,0.379335,0.640709,-0.109947,0.965750
178,2025-02-28,0.175860,0.583960,-0.005591,0.164715,0.015639
179,2025-03-31,0.173387,-0.813164,0.379334,0.161324,-0.991094
180,2025-04-30,-0.016264,-0.402441,0.581431,0.025688,0.034419

In [68]:
# Merge Dataframe
merged_df = pd.merge(standardized_df_1, standardized_df_2, on='Date', how='inner')
display(merged_df.head())
display(merged_df.tail())

,Date,SPX_Standardized,UST30Y_Standardized,HY_Standardized,GSCI_Standardized,EURHY_Standardized,EUREQ_Standardized,FXY_Standardized,GOLD_Standardized,EEM_Standardized,VNQ_Standardized,IGF_Standardized,UNEMP_Standardized,CPI_Standardized
0,2010-04-30,0.122757,0.751679,0.892005,0.613177,2.199185,2.424337,-0.066530,-0.530417,-0.074012,1.400736,-0.424852,0.025688,-0.714625
1,2010-06-30,-1.500856,1.276440,0.357045,0.226211,-1.672478,-1.920082,1.157514,1.318014,-0.431933,-1.297221,-0.806843,-0.090167,-0.960223
2,2010-08-31,-1.329079,1.959475,-0.231386,-0.836337,-1.159306,-1.795480,1.144543,-0.884953,-0.658261,-0.371159,-0.551676,0.084849,-0.248542
3,2010-09-30,1.873141,-0.658468,1.217676,1.565948,-0.644847,-0.866383,0.338207,-0.661408,2.194769,0.553082,1.516725,0.025688,-0.190293
4,2010-11-30,-0.250416,-0.487142,-0.817480,0.333811,-0.712199,-1.170027,-1.319898,-0.400942,-0.595230,-0.481689,-1.337143,0.262329,0.157414

,Date,SPX_Standardized,UST30Y_Standardized,HY_Standardized,GSCI_Standardized,EURHY_Standardized,EUREQ_Standardized,FXY_Standardized,GOLD_Standardized,EEM_Standardized,VNQ_Standardized,IGF_Standardized,UNEMP_Standardized,CPI_Standardized
123,2024-10-31,-0.469507,-1.289861,-0.512055,0.027249,-0.027333,0.617184,-1.902411,0.843801,-0.627407,-0.614365,-0.411725,0.025688,0.055486
124,2024-12-31,-0.821469,-1.450095,-0.456465,0.423074,-0.062569,-1.291312,-1.730543,-1.284009,-0.675763,-1.901995,-1.503414,-0.106718,0.578661
125,2025-01-31,0.410162,-0.016282,0.416141,0.361181,-0.252903,-0.443162,0.640791,-0.269920,0.695247,0.379335,0.640709,-0.109947,0.965750
126,2025-02-28,-0.564339,1.250348,0.077880,-0.263806,0.643485,0.082555,1.252147,-1.789744,0.175860,0.583960,-0.005591,0.164715,0.015639
127,2025-03-31,-1.596070,-0.366401,-0.746498,0.426099,0.074357,-0.547447,0.215081,-1.015440,0.173387,-0.813164,0.379334,0.161324,-0.991094

# Regression Analysis